#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 18px;
  transition: opacity 0.3s;
}

#scrollTopBtn:hover {
  opacity: 0.8;
}