<div *ngIf="!homecontact" class="container-fluid page-header">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
      <h3 class="display-4 text-white text-uppercase">Contact</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">Contact</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->


<div class="container my-5" [ngClass]="{'white-text': homecontact}">
  <div class="text-center mb-5 pb-3">
    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Contact</h6>
    <h1>Contact For Any Query</h1>
  </div>
  <div class="row">
    <!-- Contact Details -->
    <div class="col-md-5 mb-4">
      <h3>Contact Information</h3>
      <p><strong>Address:</strong> 24/1A 1st Lane , Kalutara North, Sri Lanka</p>
      <p><strong>WhatsApp / Voice:</strong> +41 79 413 22 63</p>
      <p><strong>Email:</strong> ceylonparadisetou@gmail.com</p>
      <p><strong>Business Hours:</strong> Open 24 Hours | 7 Days</p>
      <hr>
      <h5>Get in Touch With Us</h5>
      <p>
        Everything you need is at your fingertips. For any questions or queries please use the form below or
        alternatively email us at <a href="mailto:info@driversinsrilanka.com">ceylonparadisetou@gmail.com</a>, talk to
        us
        via <a href="tel:+94773531693">+41 79 413 22 63</a>. We are always here for your assistance.
      </p>
    </div>

    <!-- Contact Form -->
    <div class="col-md-7">
      <h3>Send a Message</h3>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Your Name *</label>
          <input id="name" type="text" class="form-control" formControlName="name" />
          <div class="text-danger" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
            Name is required
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Your Email *</label>
          <input id="email" type="email" class="form-control" formControlName="email" />
          <div class="text-danger" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
            Please enter a valid email
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Contact Phone *</label>
          <div class="d-flex">

            <select class="w-50 me-2" [(ngModel)]="selectedCountryCode" name="countryCode" [ngModelOptions]="{standalone: true}" required>
              <option *ngFor="let country of countriesList" [value]="country.code">
                {{country.name}} ({{country.dial_code}})
              </option>
            </select>


            <input type="tel" class="form-control" placeholder="712345678" formControlName="contactPhone" required
              pattern="^\d{7,15}$" />
          </div>
          <small class="text-danger"
            *ngIf="contactForm.get('contactPhone')?.invalid && contactForm.get('contactPhone')?.touched">
            Valid phone number is required
          </small>
        </div>

        <div class="mb-3">
          <label for="message" class="form-label">Message *</label>
          <textarea id="message" rows="5" class="form-control" formControlName="message"></textarea>
          <div class="text-danger" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
            Message is required
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send</button>
      </form>

      <div *ngIf="successMessage" class="alert alert-success text-end mt-3">
        {{ successMessage }}
      </div>
    </div>
  </div>
</div>