@import './styles/style';
@import './styles/bootstrap/scss/bootstrap';

.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate {
  display: none !important;
  visibility: hidden !important;
}

html, body {
  top: 0 !important;
}

.goog-tooltip,
.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  display: none !important;
}

body > .skiptranslate {
  display: none !important;
}